{%extends "base.html"%}



{%block konten%}
<div class="jumbotron">
    <h1 class="display-4">Selamat Datang Di ZENIUS</h1>
    <p class="leat">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates autem maxime explicabo soluta facilis expedita, est sequi ducimus pariatur repudiandae harum laborum consequuntur. Cum consequuntur, molestiae voluptates voluptatibus nostrum similique!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus itaque nam sapiente dolore dolores inventore aliquid iste. Placeat molestiae dicta, eligendi illum nulla vitae sit, reprehenderit, laboriosam unde porro officia!</p>
    <a href="#" class="btn btn-primary btn-lg" role="button">Learn More</a>
</div>

{%endblock%}
